/* COLORS */

/* HTML AND BODY */
    /* Planeten Übersicht Galery */
    .planeten-objekt {
        display: inline;
        width: 600px;
        height: 600px;
        border-top-left-radius: 47%;
        border-top-right-radius: 47%;
        border-bottom-left-radius: 47%;
        border-bottom-right-radius: 47%;
        padding: 50px 50px;
        margin-left: 10em;
        margin-top: 5em;
    }
    .planeten-objekt {
        transition: all .2s ease-in-out;
    }
    .planeten-objekt:hover {
        transform: scale(1.1);
    }
    
    /* NAVIGATION BAR */
    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: #333;
    }
    
    li {
        float: left;
    }
    
    li a, .dropbtn {
        display: inline-block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
    }
    
    li a:hover, .dropdown:hover .dropbtn {
        
        background-color: #4107a6;
    }
    
    li.dropdown {
        display: inline-block;
    }
    
    .dropdown-content {
        display: none;
        position: absolute;
        background-color: #333;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
    }
    
    .dropdown-content a {
        color: white;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
        text-align: left;
    }
    
    .dropdown-content a:hover {background-color: #4107a6}
    
    .dropdown:hover .dropdown-content {
        display: block;
        
    }
    
    /* Glow effekt */
    .dropdown-content {
      box-shadow: 0 4px 8px 0 grey, 0 6px 20px 0 grey;
      text-align: center;
    }
    
    
    /* IDS UND CLASSES*/
    
    
    /* MEDIA QUERY */
    