/* Nav Bar */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  background: black;
  font-family: "Montserrat", sans-serif;
  overflow:none;
}

.navMenu {
  position: sticky;
  top: 2em;
  margin-left: 50vw;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  display:flex;
  justify-content:center;
  align-items:center;
  height:55vh;
  width:100vw;
  
}

.navMenu a {
  color: #f6f4e6;
  text-decoration: none;
  font-size: 1.2em;
  text-transform: uppercase;
  font-weight: 500;
  display: inline-block;
  width: 100px;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.navMenu a:hover {
  color: #fddb3a;
}

.navMenu .dot {
  width: 6px;
  height: 6px;
  background: #fddb3a;
  border-radius: 50%;
  opacity: 0;
  -webkit-transform: translateX(30px);
  transform: translateX(30px);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.navMenu a:nth-child(1):hover ~ .dot {
  margin-top: 25px;
  -webkit-transform: translateX(-27.5vw);
  transform: translateX(-27.5vw);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  opacity: 1;
}

.navMenu a:nth-child(2):hover ~ .dot {
  margin-top: 25px;
  -webkit-transform: translateX(-20vw);
  transform: translateX(-20vw);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  opacity: 1;
}

.navMenu a:nth-child(3):hover ~ .dot {
  margin-top: 25px;
  -webkit-transform: translateX(-12.35vw);
  transform: translateX(-12.35vw);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  opacity: 1;
}

.navMenu a:nth-child(4):hover ~ .dot {
  margin-top: 25px;
  -webkit-transform: translateX(-5.6vw);
  transform: translateX(-5.6vw);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  opacity: 1;
}

#Galerie {
    margin-right: 0.5em;
}

#home_galaxy{
  height:100vh;
  width:100vw;
  min-width: 80%;
  min-height: 80%;
}

#spacer{
  height:45vh;
}
