/* COLORS */

/* HTML AND BODY */
    /* Planeten Übersicht Galery */
    .planeten-objekt {
        display: inline;
        width: 600px;
        height: 600px;
        border-top-left-radius: 47%;
        border-top-right-radius: 47%;
        border-bottom-left-radius: 47%;
        border-bottom-right-radius: 47%;
        padding: 50px 50px;
        margin-left: 10em;
        margin-top: 5em;
    }
    .planeten-objekt {
        transition: all .2s ease-in-out;
    }
    .planeten-objekt:hover {
        transform: scale(1.1);
    }
    
 
    /* IDS UND CLASSES
    #Sonne{
        
    }
    #Merkur{

    }
    #Venus{
    
    }
    #Erde{

    }
    #Mars{

    }
    #Jupiter{

    }
    #Saturn{

    }
    #Uranus{

    }
    #Neptun{

    }
*/
  
    /* MEDIA QUERY */
    