/* COLORS */

/* HTML AND BODY */
    /* Planeten Übersicht Galery */
    .planeten-objekt {
        display: inline;
        width: 600px;
        height: 600px;
        border-top-left-radius: 47%;
        border-top-right-radius: 47%;
        border-bottom-left-radius: 47%;
        border-bottom-right-radius: 47%;
        padding: 50px 50px;
        margin-left: 10em;
        margin-top: 5em;
    }
    .planeten-objekt {
        transition: all .2s ease-in-out;
    }
    .planeten-objekt:hover {
        transform: scale(1.1);
    }
    
 
    /* IDS UND CLASSES*/
    #solar-system_bild{
  width:100%;
  height:auto;
  margin:0;
}
    #Sonne:hover{
        cursor: pointer;
    }
    #Merkur:hover{
        cursor: pointer;
    }
    #Venus:hover{
        cursor: pointer;
    }
    #Erde:hover{
        cursor: pointer;
    }
    #Mars:hover{
        cursor: pointer;
    }
    #Jupiter:hover{
        cursor: pointer;
    }
    #Saturn:hover{
        cursor: pointer;
    }
    #Uranus:hover{
        cursor: pointer;
    }
    #Neptun:hover{
        cursor: pointer;
    }

  
    /* MEDIA QUERY */
    