@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600&family=Roboto:wght@300&display=swap');
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: white;
}
header{
    height: 6.5vh;
}

#solar_system{
  width: 40%;
  height:auto;
  margin-top: 10vw;
    
}

#omegalul{
  width: 100%;
  text-align: center;
  padding-top: 0;
}
#saturn_cutout{

  height: 600px;
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1;
}
#iphone{
  position: absolute;
  top: calc(85% + 10vw);
  left:10%;
  height: 40vw;
  z-index: 1;
}
#iphone_bg{
  position: absolute;
  bottom:-100;
  left: 0;
  height: 40vw;
  z-index: -1;
}
#paint{
    position: absolute;
    top: calc(60% + 21vw);
    left: 20px;
    height: calc(220px + 19vw);
    z-index: -1;
}

.home-section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 85vh;
    
}
.about-section{  
    margin: 5vw;
    height: 85vh;
}

.about-section h1{
  padding-top: 18%;
  display: block;
  font-size: 2.6em;
}

.description{
    margin-top: 1em;
    color: white;
    width: 40vw;
    font-weight:500;
}

.section1{
  background: url(..\img/jupiter_wb.jpg);
}
.section3{
  height:30vh;
}
.section3 .description{
  width: 100%;
  text-align: center;
  padding-left: 10vw;
  padding-right: 10vw;
}
.content {
  float: right;
}
.center-div{
  display: flex;
  justify-content: center;
  margin-bottom: 45px;
}
.center-div a{
  font-size: 1.15em;
}


h1{
    color: white;
    display: block;
    height:auto;
}

.body {
  background: black;
  font-family: "Montserrat", sans-serif;
}

.navMenu {
  position: fixed;
  top: 2em;
  margin-left: 50vw;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  display:flex;
  align-items: center;
  justify-content:center;
  width:100vw;
  z-index: 1;
  
}

.navMenu a {
  color: #f6f4e6;
  text-decoration: none;
  font-size: 1.2em;
  text-transform: uppercase;
  font-weight: 500;
  display: inline-block;
  width: 100px;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.navMenu a:hover {
  color: white;
}

.navMenu .dot {
  width: 6px;
  height: 6px;
  background: white;
  border-radius: 50%;
  opacity: 0;
  -webkit-transform: translateX(30px);
  transform: translateX(30px);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.navMenu a:nth-child(1):hover ~ .dot {
  margin-top: 25px;
  -webkit-transform: translateX(-380px);
  transform: translateX(-380px);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  opacity: 1;
}

.navMenu a:nth-child(2):hover ~ .dot {
  margin-top: 25px;
  -webkit-transform: translateX(-275px);
  transform: translateX(-275px);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  opacity: 1;
}

.navMenu a:nth-child(3):hover ~ .dot {
  margin-top: 25px;
  -webkit-transform: translateX(-167px);
  transform: translateX(-167px);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  opacity: 1;
}

.navMenu a:nth-child(4):hover ~ .dot {
  margin-top: 25px;
  -webkit-transform: translateX(-78px);
  transform: translateX(-78px);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  opacity: 1;
}

#Galerie {
    margin-right: 0.5em;
}


.hero{
    height:90%;
    width:100%;
    position: relative;
}

.hero img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.headline{
    font-family: 'Playfair Display', serif;
    position:absolute;
    top: 65%;
    left: 5%;
    font-size: 80px;
    color: white;
    z-index: 1;
    opacity: 0;
}

.hero::after{
    content: "";
    background: black;
    width: 100%;
    height: 100%;
    position: absolute;
    left:0;
    top: 0;
    opacity: 0.3;
}

.about-link {
  text-decoration: none;
  opacity: 0;
  position: absolute;
  color: white;
  top: 82%;
  left: 6%;
  font-family: 'Roboto', sans-serif;
  font-size:  20px;
  z-index: 1;
}
.about-link:hover{
  text-decoration: underline;
}
.container {
    height: 100%;
    margin-top: 10vh;
}
.object{
    position: relative;
    display: inline;
}

.planet {
    display: inline;
    width: 24.5em;
    max-height: 18em;
    border-radius:2em;
    transition: all .2s ease-in-out;
    object-fit: cover;
    margin: 25px;
    padding: 10px;
    
  }
  
  .planet:hover {
    transform: scale(1.1);
    cursor: pointer;
    border: 5px solid white; 
    
  }
  

.name{
      color: white;
      position: absolute;
      font-size: 1.3em;
      font-weight: 450;
      bottom: 60px;
      left: 70px;
      font-size: 1.5em;;
      
  }


.fuckyou{
      margin-bottom: 30px;
  }

#kekw{
      height: 35vh;
  }

  @media(max-width:970px) {
    #saturn_cutout, #paint, #iphone_bg{
      opacity: 0;
    }
  }
  
  @media(max-width: 960px) {
    
    .description{
      width: 400px;
    }
    .about-section h1{
      padding-top: 10%;
    }
    .about-section{
      height:65vh;
    }
  }

 
